background-login{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
    background-size: cover;
}

.homepage{
    color: rgb(0, 0, 136);
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}
#signUp{
    display: none;
}
.div-logins{
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.318);
    display: flex;
    border-radius: 20px 20px 0px 0px;
    justify-content: space-around;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 1em;
    padding: 1em 3em 1em 3em;
    background-color: rgba(255, 255, 255, 0.434);
    border-radius: 0px 0px 20px 20px;
}
.login-form input{
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.689);
}
.login-form span{
    text-align: start;
}
.div-logins button{
    padding: 1em;
    width: 75px;
    border-radius: 20px;
    background-color: transparent;
    border: black 2px solid;
    font-size: 15px;
}
.login-form button{
    padding: 0.5em;
    width: 100px;
    border-radius: 20px;
    background-color: transparent;
    border: black 2px solid;
    font-size: 15px;
}

#log{
    background-color: rgb(192, 192, 192);
}

#sign{
    background-color: rgb(192, 192, 192);
}
.login-form button:hover,
.div-logins button:hover{
    cursor: pointer;
    background-color: rgb(116, 116, 116);
}

